/* calculation body */
.calculation-section{
    background-color: rgb(235, 228, 228);
}
/* common button */
.button{
    margin-top: 20px;
    background-color: dodgerblue;
    color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: larger;

}
/* for all inputs */
.input{
    border: 0;
    align-items: center;
    background-color: rgb(245, 244, 243);


}
/* for notifications */
