.heading-style{
    color: rgb(29, 189, 189);
}
/* calculation body */
.calculation-section{
    background-color: rgb(208, 220, 255);
}
/* common  */
.button{
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
    border: 0;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: larger;
    

}

/* for all inputs */
.input{
    
    background-color: rgb(245, 244, 243);
    border: 1px solid lightgray;


}
/* for notifications */
.error-msg{
    color: red;
    font-weight: bold;
}